@import '../../node_modules/modern-normalize/modern-normalize.css';
@import '../../node_modules/basiclightbox/dist/basicLightbox.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import './utils/variables';
@import './utils/placeholder';
@import './utils/mixins';

@import './components/common';
@import './components/header';
@import './components/body';
@import './components/modalFilm';
@import './components/modalDevs';
@import './components/footer';
@import './components/theme';
@import '../sass/components/filterButtons';
@import './components/signIN';
