
        <input class="header-search__input" type="text" />
        <div class="header-search__container">
            <label class="header-search__label">Поиск фильмов</label>
            <button class="header-search__button"></button>
           
        </div>      
        <p class="header-search__error">
            Search result not successful. Enter the correct movie name and
        </p>
