
        <input class="header-search__input" type="text" />
        <div class="header-search__container">
            <label for=".header-search__label">Поиск фильмов</label>
            <button class="header-search__button">
                {{!-- <svg class="header-search__icon" height="12" width="12">
                    <use href="./src/images/svg/sprite.svg#icon-search-optim"></use>
            </svg> --}} 
            </button>
           
        </div>      
        <p class="header-search__error">
            Search result not successful. Enter the correct movie name and
        </p>
