
        <input class="header-search__input" type="text" />
        <label for=".header-search__label">Поиск фильмов</label>
        <button class="header-search__button">Search</button>
        <p class="header-search__error">
            Search result not successful. Enter the correct movie name and
        </p>
