// примеры
// $dark-text-bg: #111518;
// $graphite-text: #3d3d3d;
// $grey-text: #b9b9b9;
// $orange-text: #ff6b09;
// $white-text: #ffffff;
// $light-grey-bg: #e5e5e5;
// $grey-bg: #f1f1f1;
// $orange-color: #ff6b09;
// $blue-text: #436eab;
// $white-color: #ffffff;
// $light-grey-bg: #e5e5e5;
// $light-bg: #fdfdfd;
// $bg-gradient: linear-gradient(#111518, #111518, #111518, 1);
// $modal-bg: rgba(17, 21, 24, 0.9);
// $shadow10-cards: rgba(0, 0, 0, 0.1);
// $shadow40: rgba(0, 0, 0, 0.4);
// $transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// $min-flexmobile: 320px;
// $min-mobile: 480px;
// $min-tablet: 768px;
// $min-desktop: 1280px;
// $program-bg: rgba(17, 21, 24, 1);
// $orange-line: rgba(255, 107, 9, 1);
