$main-font: 'Roboto', sans-serif;
$main-font-size: 12px;
$main-border-radius: 5px;
$white-color: #ffffff;
$red-color: #ff001b;
$orange-color: #ff6b08;
$black-color: #000000;
$footer-text-color: #545454;
$footer-background-color: #f7f7f7;
$grey-color: #8c8c8c;
$min-mobile: 320px;
$max-mobile: 767px;
$min-tablet: 768px;
$max-tablet: 1023px;
$min-desktop: 1024px;
