<section class="filmoteka">
  <div class="container">
    <ul class="filmoteka__set"></ul>
  </div>
  <ul class="filmoteka-nav">
    <li><a class="filmoteka-nav__left" href="#">&larr;</a></li>
    <li><a class="filmoteka-nav__first" href="#" data-number="1">1</a></li>
    <li><a class="filmoteka-nav__prev" href="#" data-number="2">...</a></li>
    <li class="filmoteka-nav__pages">
      <ul class="filmoteka-nav__pages--list">
        <li><a class="filmoteka-nav__pages--link" href="#" data-number="3">3</a></li>
        <li><a class="filmoteka-nav__pages--link" href="#" data-number="4">4</a></li>
        <li class="filmoteka-nav__pages--link filmoteka-nav__pages--current">
          <a class="filmoteka-nav__pages--link_current" href="#" data-number="5">5</a>
        </li>
        <li><a class="filmoteka-nav__pages--link" href="#" data-number="6">6</a></li>
        <li><a class="filmoteka-nav__pages--link" href="#" data-number="7">7</a></li>
      </ul>
    </li>
    <li><a class="filmoteka-nav__next" href="#" data-number="8">...</a></li>
    <li><a class="filmoteka-nav__last" href="#" data-number="10">10</a></li>
    <li><a class="filmoteka-nav__right" href="#">&rarr;</a></li>
  </ul>
  <a class="scroll__top"
    ><img class="scroll__icon" src="./images/svg/upArrowButton_3.svg" width="80" height="80"
  /></a>
</section>
