<section class="filmoteka">
  <ul class="filmoteka__set">
    <li class="film">
      <div class="film__thumb">
        <img class="film__img" src="#" alt="GREYHOUND" />
      </div>
      <div class="film__info">
        <h3 class="film__heading">GREYHOUND</h3>
        <p class="film__description">Drama, Action | <span class="film__year">2020</span></p>
      </div>
    </li>
    <li class="film">
      <div class="film__thumb">
        <img class="film__img" src="#" alt="MONSTER HUNTER" />
      </div>
      <div class="film__info">
        <h3 class="film__heading">MONSTER HUNTER</h3>
        <p class="film__description">Drama, Action | <span class="film__year">2020</span></p>
      </div>
    </li>
    <li class="film">
      <div class="film__thumb">
        <img class="film__img" src="#" alt="ONCE UPON A TIME  IN HOLLYWOOD" />
      </div>
      <div class="film__info">
        <h3 class="film__heading">ONCE UPON A TIME IN HOLLYWOOD</h3>
        <p class="film__description">Drama, Comedy | <span class="film__year">2019</span></p>
      </div>
    </li>
  </ul>
  <ul class="filmoteka-nav">
    <li><a class="filmoteka-nav__left" href="#">&larr;</a></li>
    <li><a class="filmoteka-nav__first" href="#">1</a></li>
    <li><a class="filmoteka-nav__prev" href="#">...</a></li>
    <li class="filmoteka-nav__pages">
      <ul class="filmoteka-nav__pages--list">
        <li><a class="filmoteka-nav__pages--link" href="#">11</a></li>
        <li><a class="filmoteka-nav__pages--link" href="#">12</a></li>
        <li><a class="filmoteka-nav__pages--link" href="#">13</a></li>
        <li><a class="filmoteka-nav__pages--link" href="#">14</a></li>
        <li><a class="filmoteka-nav__pages--link" href="#">15</a></li>
      </ul>
    </li>
    <li><a class="filmoteka-nav__next" href="#">...</a></li>
    <li><a class="filmoteka-nav__last" href="#">20</a></li>
    <li><a class="filmoteka-nav__right" href="#">&rarr;</a></li>
  </ul>
</section>
