<section class="filmoteka">
  <div class="container">
    <ul class="filmoteka__set"></ul>
  </div>
  <ul class="filmoteka-nav">
    <li><a class="filmoteka-nav__left" href="#">&larr;</a></li>
    <li><a class="filmoteka-nav__first" href="#">1</a></li>
    <li><a class="filmoteka-nav__prev" href="#">...</a></li>
    <li class="filmoteka-nav__pages">
      <ul class="filmoteka-nav__pages--list">
        <li><a class="filmoteka-nav__pages--link" href="#">3</a></li>
        <li><a class="filmoteka-nav__pages--link" href="#">4</a></li>
        <li class="filmoteka-nav__pages--link filmoteka-nav__pages--current">
          <a class="filmoteka-nav__pages--link" href="#">5</a>
        </li>
        <li><a class="filmoteka-nav__pages--link" href="#">6</a></li>
        <li><a class="filmoteka-nav__pages--link" href="#">7</a></li>
      </ul>
    </li>
    <li><a class="filmoteka-nav__next" href="#">...</a></li>
    <li><a class="filmoteka-nav__last" href="#">10</a></li>
    <li><a class="filmoteka-nav__right" href="#">&rarr;</a></li>
  </ul>
  <a class="scroll__top"
    ><img class="scroll__icon" src="./images/svg/upArrowButton_3.svg" width="80" height="80"
  /></a>
</section>
