<footer class="footer">
  <div class="footer__box">
    <p class="footer__info mobile">
      © 2021 | <span class="lang__rights_text">All Rights Reserved</span> |
    </p>
    <p class="footer__info">
      <span class="lang__devs_text">Developed with</span>
      <svg
        width="14"
        height="13"
        viewBox="-3 -3 18 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        data-llp-composed="true"
        id="heart"
        class="lazy-line-painter footer__img"
      >
        <path
          d="M7 12.88L6.02 11.9C2.38 8.68 0 6.51 0 3.85C0 1.68 1.68 0 3.85 0C5.04 0 6.23 0.56 7 1.47C7.77 0.56 8.96 0 10.15 0C12.32 0 14 1.68 14 3.85C14 6.51 11.62 8.68 7.98 11.9L7 12.88Z"
          fill="#FF6B08"
          data-llp-id="heart-0"
          data-llp-duration="500"
          data-llp-delay="0"
          fill-opacity="1"
          style="stroke-linecap: round"
          data-llp-stroke-join=""
          data-llp-stroke-cap="round"
        />
      </svg>
      <span class="lang__by_text">by</span>&nbsp;
      <a class="footer__dev--link" href="#">GoIT Students</a>
    </p>
  </div>
</footer>
