<header class="header">
  <div class="header__logo"></div>
  <nav class="header-nav">
    <ul class="header-nav__list">
      <li><a class="header-nav__link current" href="#">HOME</a></li>
      <li><a class="header-nav__link" href="#">MY LIBRARY</a></li>
    </ul>
  </nav>
  <div class="header-search">
    <input class="header-search__input" type="text" />
    <label for=".header-search__label">Поиск фильмов</label>
    <button class="header-search__button">Search</button>
    <p class="header-search__error">
      Search result not successful. Enter the correct movie name and
    </p>
  </div>
</header>
