<section class="modal-devs is-hidden" data-modal>
  <div class="modal-devs__overlay">
    <h2 class="team__heading">Team "ReacTeam"</h2>
    <a href="#TeamLead"> <img src="./images/img/Devs/Evgeniy.jpg" alt="TeamLead" class="team-list__img"></a>
    <a href="#ScrumMaster"> <img src="./images/img/Devs/Max.jpg" alt="ScrumMaster" class="team-list__img"></a>
    <a href="#Adelaida"> <img src="./images/img/Devs/Ada.jpg" alt="Dev" class="team-list__img"></a>
    <a href="#Sergey"><img src="./images/img/Devs/SergeyK.jpg" alt="Dev" class="team-list__img"></a>
    <a href="#SergeyC"><img src="./images/img/Devs/SergeyC.jpg" alt="Dev" class="team-list__img"></a>
    <a href="#DimaP"><img src="./images/img/Devs/dev.jpg" alt="Dev" class="team-list__img"></a>
    <a href="#DimaL"><img src="./images/img/Devs/DimaL.jpg" alt="Dev" class="team-list__img"></a>
    <a href="#Alex"><img src="./images/img/Devs/Alex.jpg" alt="Dev" class="team-list__img"></a>
    <a href="#Oleg"><img src="./images/img/Devs/dev.jpg" alt="Dev" class="team-list__img"></a>
    
    <div class="content">
      <div class="team-list__cards section" id="TeamLead">
      <h3 class="team-list__member">Evgeny Pavlovsky</h3>
      <p lang="en" class="team-list__position">Team lead</p>
      <ul class="networks">
        <a href="https://github.com/sepaev" class="networks__item" target="_blank">
          <svg class="networks__img" width="32" height="32">
            <use href="./images/svg/github-logo.svg#github-logo"></use>
          </svg>
        </a>
        <a href="mailto:sepaev@gmail.com" class="networks__item" target="_blank">
          <svg class="networks__img" width="32" height="32">
            <use href="./images/svg/mail4.svg#mail4"></use>
          </svg>
        </a>
      </ul>
      </div>

      <div class="section" id="ScrumMaster">
        <h3 class="team-list__member">Maksim Zhitnyak</h3>
        <p lang="en" class="team-list__position">Scrum master</p>
        <ul class="networks">
          <a href="https://github.com/zhitnyak" class="networks__item" target="_blank">
            <svg class="networks__img" width="32" height="32">
              <use href="./images/svg/github-logo.svg#github-logo"></use>
            </svg>
          </a>
          <a href="mailto:m.zhitnyak@gmail.com" class="networks__item" target="_blank">
            <svg class="networks__img" width="32" height="32">
              <use href="./images/svg/mail4.svg#mail4"></use>
            </svg>
          </a>
        </ul>
      </div>

      <div class="section" id="Adelaida">
          <h3 class="team-list__member">Adelaida Bilous</h3>
              <p lang="en" class="team-list__position">Developer</p>
              <ul class="networks">
                <a href="https://github.com/Adelaida94" class="networks__item" target="_blank">
                  <svg class="networks__img" width="32" height="32">
                    <use href="./images/svg/github-logo.svg#github-logo"></use>
                  </svg>
                </a>
                <a href="mailo:adelayida.t@gmail.com" class="networks__item" target="_blank">
                  <svg class="networks__img" width="32" height="32">
                    <use href="./images/svg/mail4.svg#mail4"></use>
                  </svg>
                </a>
              </ul>
      </div>

    <div class="section" id="Sergey">
          <h3 class="team-list__member">Sergey Кoniushenko</h3>
              <p lang="en" class="team-list__position">Developer</p>
              <ul class="networks">
                <a href="https://github.com/Koniushenko-Sergey" class="networks__item" target="_blank">
                  <svg class="networks__img" width="32" height="32">
                    <use href="./images/svg/github-logo.svg#github-logo"></use>
                  </svg>
                </a>
                <a href="mailo:sanfordgrey1992@rambler.ru" class="networks__item" target="_blank">
                  <svg class="networks__img" width="32" height="32">
                    <use href="./images/svg/mail4.svg#mail4"></use>
                  </svg>
                </a>
              </ul>
    </div>

    <div class="section" id="SergeyC">
        <h3 class="team-list__member">Sergey Crew</h3>
              <p lang="en" class="team-list__position">Developer</p>
              <ul class="networks">
                <a href="https://github.com/sergeycrew" class="networks__item" target="_blank">
                  <svg class="networks__img" width="32" height="32">
                    <use href="./images/svg/github-logo.svg#github-logo"></use>
                  </svg>
                </a>
                <a href="mailo:zoom.bsm@gmail.com" class="networks__item" target="_blank">
                  <svg class="networks__img" width="32" height="32">
                    <use href="./images/svg/mail4.svg#mail4"></use>
                  </svg>
                </a>
              </ul>
    </div>

    <div class="section" id="DimaP">
        <h3 class="team-list__member">Dmitriy Pashchenko</h3>
              <p lang="en" class="team-list__position">Developer</p>
              <ul class="networks">
                <a href="https://github.com/dimapashchenko1" class="networks__item" target="_blank">
                  <svg class="networks__img" width="32" height="32">
                    <use href="./images/svg/github-logo.svg#github-logo"></use>
                  </svg>
                </a>
                <a href="mailo:dimapashchenko1@gmail.com" class="networks__item" target="_blank">
                  <svg class="networks__img" width="32" height="32">
                    <use href="./images/svg/mail4.svg#mail4"></use>
                  </svg>
                </a>
              </ul>
    </div>

    <div class="section" id="DimaL">
        <h3 class="team-list__member">Dmitriy liashchenko</h3>
              <p lang="en" class="team-list__position">Developer</p>
              <ul class="networks">
                <a href="https://github.com/Dmytro78" class="networks__item" target="_blank">
                  <svg class="networks__img" width="32" height="32">
                    <use href="./images/svg/github-logo.svg#github-logo"></use>
                  </svg>
                </a>
                <a href="mailo:dmytroliashchenko@gmail.com" class="networks__item" target="_blank">
                  <svg class="networks__img" width="32" height="32">
                    <use href="./images/svg/mail4.svg#mail4"></use>
                  </svg>
                </a>
              </ul>
    </div>

    <div class="section" id="Alex">
        <h3 class="team-list__member">Aleksandr Burlachenko</h3>
              <p lang="en" class="team-list__position">Developer</p>
              <ul class="networks">
                <a href="https://github.com/al-burlachenko" class="networks__item" target="_blank">
                  <svg class="networks__img" width="32" height="32">
                    <use href="./images/svg/github-logo.svg#github-logo"></use>
                  </svg>
                </a>
                <a href="mailo:alexandrburl@gmail.com" class="networks__item" target="_blank">
                  <svg class="networks__img" width="32" height="32">
                    <use href="./images/svg/mail4.svg#mail4"></use>
                  </svg>
                </a>
              </ul>
    </div>

    <div class="section" id="Oleg">
      <h3 class="team-list__member">Oleg Usatyi</h3>
              <p lang="en" class="team-list__position">Developer</p>
              <ul class="networks">
                <a href="https://github.com/Dmytro78" class="networks__item" target="_blank">
                  <svg class="networks__img" width="32" height="32">
                    <use href="./images/svg/github-logo.svg#github-logo"></use>
                  </svg>
                </a>
                <a href="mailo:olegysik1@ukr.net" class="networks__item" target="_blank">
                  <svg class="networks__img" width="32" height="32">
                    <use href="./images/svg/mail4.svg#mail4"></use>
                  </svg>
                </a>
              </ul>
    </div>

    </div>

    <button class="modal-devs__close-btn">close</button>
    
  </div>
 
</section>

