<section class="modal-film">
  <h2 class="visually-hidden">Film info</h2>
  <div class="modal-film__overlay">
    <button type="button" class="modal-film__close"></button>

    <div class="modal-card">
      <!-- сюда будет рендериться карточка одного фильма в модалке -->
    </div>

    <div class="modal-film__buttons">
      <button type="button" class="modal-film__btn-watched">add to Watched</button>
      <button type="button" class="modal-film__btn-queque">add to queue</button>
    </div>
  </div>
</section>
