<section class="modal-devs is-hidden" data-modal>
  <div class="modal-devs__overlay">
    <h2 class="team__heading">Team "ReacTeam"</h2>

    <div class="content">
      <div class="team">
        <img src="./images/img/Devs/Evgeniy1.jpg" alt="" />
        <div class="info">
          <div class="name">Evgeniy Pavlovskiy</div>
          <div class="title">Team Lider</div>
          <div class="social">
            <a href="https://github.com/sepaev" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailto:sepaev@gmail.com" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="team">
        <img src="images/img/Devs/Max.jpg" alt="" />
        <div class="info">
          <div class="name">
            Maxim <br />
            Zhitnyak
          </div>
          <div class="title">Scrum Master</div>
          <div class="social">
            <a href="https://github.com/zhitnyak" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailto:m.zhitnyak@gmail.com" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="team">
        <img src="images/img/Devs/Ada1.jpg" alt="" />
        <div class="info">
          <div class="name">
            Adelaida <br />
            Bilous
          </div>
          <div class="title">Developer</div>
          <div class="social">
            <a href="https://github.com/Adelaida94" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailo:adelayida.t@gmail.com" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="team">
        <img src="images/img/Devs/SergeyC1.jpg" alt="" />
        <div class="info">
          <div class="name">
            Sergey <br />
            Crew
          </div>
          <div class="title">Scrum Master</div>
          <div class="social">
            <a href="https://github.com/sergeycrew" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailo:zoom.bsm@gmail.com" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="team">
        <img src="images/img/Devs/SergeyK1.jpg" alt="" />
        <div class="info">
          <div class="name">Sergey Кoniushenko</div>
          <div class="title">Developer</div>
          <div class="social">
            <a href="https://github.com/Koniushenko-Sergey" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailo:sanfordgrey1992@rambler.ru" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="team">
        <img src="images/img/Devs/DimaP.jpg" alt="" />
        <div class="info">
          <div class="name">Dmitriy Pashchenko</div>
          <div class="title">Developer</div>
          <div class="social">
            <a href="https://github.com/dimapashchenko1" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailo:dimapashchenko1@gmail.com" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="team">
        <img src="images/img/Devs/DimaL1.jpg" alt="" />
        <div class="info">
          <div class="name">Dmitriy liashchenko</div>
          <div class="title">Developer</div>
          <div class="social">
            <a href="https://github.com/Dmytro78" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailo:dmytroliashchenko@gmail.com" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="team">
        <img src="images/img/Devs/Alex1.jpg" alt="" />
        <div class="info">
          <div class="name">Aleksandr Burlachenko</div>
          <div class="title">Developer</div>
          <div class="social">
            <a href="https://github.com/al-burlachenko" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailo:alexandrburl@gmail.com" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="team">
        <img src="images/img/Devs/Oleg.jpg" alt="" />
        <div class="info">
          <div class="name">
            Oleg <br />
            Usatyi
          </div>
          <div class="title">Developer</div>
          <div class="social">
            <a href="https://github.com/OlegUsatui" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailo:olegysik1@ukr.net" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <button class="modal-devs__close-btn">close</button>
    <button class="modal-devs__respect-btn">
      <a href="https://github.com/luxplanjay" target="_blank"> our respect 🍅¯\_(ツ)_/¯🍅</a>
    </button>
  </div>
  <div></div>
</section>
