<modal-team class="team">
    <div class="container team__container">
        <h2 class="team__heading">Наша команда</h2>
        <ul class="team-list">
            <li class="team-list__item">
                <div class="team-list__thumb">
                    <img src="./images/img/team/Evgen.jpg" alt="Евгений" srcset=""
                        class="team-list__img">
                    <div class="cards team-list__cards">
                        <h3 class="team-list__member">Евгений Павловский</h3>
                        <p lang="en" class="team-list__position">Team lead</p>
                        
                                <a href="https://github.com/sepaev" class="networks__item">
                                    <svg class="networks__img" width="120" height="80">
                                        <use href="./images/svg/github-logo.svg"></use>
                                    </svg>
                                </a>     
                    </div>
                </div>
            </li>
            <li class="team-list__item">
                <div class="team-list__thumb">
                    <img src="./images/img/team/Maksim.jpg" alt="Максим" srcset="" class="team-list__img">
                    <div class="cards team-list__cards">
                        <h3 class="team-list__member">Максим Житняк</h3>
                        <p lang="en" class="team-list__position">Scrum master</p>
            
                        <a href="https://github.com/zhitnyak" class="networks__item">
                            <svg class="networks__img" width="20" height="20">
                                <use href="./images/svg/github-logo.svg"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            
            <li>
            </li>
        </ul>
    </div>
</modal-team>