<!-- <section class="modal-devs">
  <div class="modal-devs__overlay">
    <h3>Это наши разработчики</h3>

    <ul>
      <li>Евгений Евгений Павловский sepaev@gmail.com тимлид</li>
      <li>Максим Максим m.zhitnyak@gmail.com скрам-мастер</li>
      <li>Аделаида Adelaida Bilous adelayida.t@gmail.com мембер</li>
      <li>Сергей Sergey sanfordgrey1992@rambler.ru мембер</li>
      ------------GITHUB-----<li>Сергей Sergey Crew zoom.bsm@gmail.com мембер</li>
      <li>Дмитрий Дімон Пащенко dimapashchenko1@gmail.com мембер</li>
      <li>Дмитрий Dmytro Liashchenko 15031978@ukr.net мембер</li>
 ------------GITHUB-----<li>Александр Aleksandr Burlachenko alexandrburl@gmail.com мембер</li> 
     ------------GITHUB----- <li>Олег Oleg Usatyi olegysik1@ukr.net мембер</li>
    
    
     <li>Олег	Олег Семенников	sumcue@gmail.com	мембер</li>
      
          
    </ul>
  </div>
</section> -->

<modal-devs class="modal-devs is-hidden" data-modal>
  <div class="modal-devs__overlay">
    <h2 class="team__heading">Это наши разработчики</h2>
    <ul class="team-list">
      <div class="team-Lead">
      <li class="team-list__item">
        <div class="team-list__thumb">
          <img src="./images/img/Devs/TeamLead.jpg" alt="Evgeny" srcset="" class="team-list__img" width="100" height="100">
          <div class="cards team-list__cards">
            <h3 class="team-list__member">Evgeny Pavlovsky</h3>
            <p lang="en" class="team-list__position">Team lead</p>

            <a href="https://github.com/sepaev" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailto:sepaev@gmail.com" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      </div>
      <div class="scram">
      <li class="team-list__item">
        <div class="team-list__thumb">
          <img src="./images/img/Devs/Scrum.jpg" alt="Maksim" srcset="" class="team-list__img" width="100" height="100">
          <div class="cards team-list__cards">
            <h3 class="team-list__member">Maksim Zhitnyak</h3>
            <p lang="en" class="team-list__position">Scrum master</p>
            <a href="https://github.com/zhitnyak" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailto:m.zhitnyak@gmail.com" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      
      <li class="team-list__item">
        <div class="team-list__thumb">
          <img src="./images/img/Devs/Untitled.jpg" alt="Ada" srcset="" class="team-list__img" width="100" height="100">
          <div class="cards team-list__cards">
            <h3 class="team-list__member">Adelaida Bilous</h3>
            <p lang="en" class="team-list__position">Developer</p>
      
            <a href="https://github.com/Koniushenko-Sergey" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailo:adelayida.t@gmail.com" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      </div>

      <div class="team">
      <li class="team-list__item">
        <div class="team-list__thumb">
          <img src="./images/img/Devs/dev.jpg" alt="Sergey" srcset="" class="team-list__img" width="100" height="100">
          <div class="cards team-list__cards">
            <h3 class="team-list__member">Sergey Кoniushenko</h3>
            <p lang="en" class="team-list__position">Developer</p>
      
            <a href="https://github.com/Koniushenko-Sergey" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailo:sanfordgrey1992@rambler.ru" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="team-list__item">
        <div class="team-list__thumb">
          <img src="./images/img/Devs/dev.jpg" alt="Sergey" srcset="" class="team-list__img" width="100" height="100">
          <div class="cards team-list__cards">
            <h3 class="team-list__member">Sergey Crew</h3>
            <p lang="en" class="team-list__position">Developer</p>
      
            <a href="https://github.com/Koniushenko-Sergey" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailo:zoom.bsm@gmail.com" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="team-list__item">
        <div class="team-list__thumb">
          <img src="./images/img/Devs/dev.jpg" alt="Dmitrij" srcset="" class="team-list__img" width="100" height="100">
          <div class="cards team-list__cards">
            <h3 class="team-list__member">Dmitrij Pashchenko</h3>
            <p lang="en" class="team-list__position">Developer</p>
      
            <a href="https://github.com/dimapashchenko1" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailo:dimapashchenko1@gmail.com" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
</div>
<div class="team2">
      <li class="team-list__item">
        <div class="team-list__thumb">
          <img src="./images/img/Devs/dev.jpg" alt="Dmitrij" srcset="" class="team-list__img" width="100" height="100">
          <div class="cards team-list__cards">
            <h3 class="team-list__member">Dmitrij liashchenko</h3>
            <p lang="en" class="team-list__position">Developer</p>
      
            <a href="https://github.com/Dmytro78" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailo:dmytroliashchenko@gmail.com" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="team-list__item">
        <div class="team-list__thumb">
          <img src="./images/img/Devs/dev.jpg" alt="Alex" srcset="" class="team-list__img" width="100" height="100">
          <div class="cards team-list__cards">
            <h3 class="team-list__member">Aleksandr Burlachenko</h3>
            <p lang="en" class="team-list__position">Developer</p>
      
            <a href="https://github.com/Dmytro78" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailo:alexandrburl@gmail.com" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="team-list__item">
        <div class="team-list__thumb">
          <img src="./images/img/Devs/dev.jpg" alt="Oleg" srcset="" class="team-list__img" width="100" height="100">
          <div class="cards team-list__cards">
            <h3 class="team-list__member">Oleg Usatyi</h3>
            <p lang="en" class="team-list__position">Developer</p>
      
            <a href="https://github.com/Dmytro78" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a>
            <a href="mailo:olegysik1@ukr.net" class="networks__item">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/mail4.svg#mail4"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      </div>
    </ul>
  </div>
</modal-devs>