<div data-modal-window="my_modal1" class="modal__regist">
  <div class="modal__regist-content">
    <div class="modal__regist-inner">
      <div class="modal__regist-title">
        <div class="modal__regist-closebtn">&times;</div>
        <form class="modal-form__signup visually-hidden">
          <label class="modal-form__label" id="signUpName"
            >Name
            <span class="input-wrapper">
              <input type="text" class="modal-form__input" name="user-name" id="name1" required />
            </span>
          </label>
          <label class="modal-form__label" id="signUpMail"
            >E-mail
            <span class="input-wrapper">
              <input type="email" class="modal-form__input" name="user-email" id="email" required />
            </span>
          </label>

          <label class="modal-form__label" id="signUpPwd"
            >Password
            <span class="input-wrapper">
              <input
                type="password"
                class="modal-form__input"
                name="user-password"
                id="password"
                required
              />
            </span>
          </label>
          <label class="modal-form__label" id="signUpPwdConfirm"
            >Confirm password
            <span class="input-wrapper">
              <input
                type="password"
                class="modal-form__input"
                name="user-confirm-password"
                id="password_2"
                required
              />
            </span>
          </label>
          <div class="sex_container">
            <span id="signUpSex">Sex:</span>
            <div>
              <input type="radio" value="male" name="sex" checked class="sex" /><span
                class="input__text"
                id="signUpMale"
                >male</span
              >
            </div>
            <div>
              <input type="radio" value="female" name="sex" class="sex" /><span
                class="input__text"
                id="signUpFemale"
                >female</span
              >
            </div>
            <div>
              <input type="radio" value="other" name="sex" class="sex" /><span
                id="signUpOther"
                class="input__text"
                >other</span
              >
            </div>
          </div>

          <button type="submit" class="btn__button sign-up__button" id="submit">Sign up</button>
        </form>
        <p class="modal-form__status"></p>

        <div></div>
        <!-- </div> -->
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
