.filmoteka {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: auto;
  @media (min-width: $min-desktop) {
    width: 320px;
  }
  @media (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 768px;
  }
  @media (min-width: $min-desktop) {
    width: $min-desktop;
  }

  &__set {
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(-1 * var(--list-gap));
      margin-left: calc(-1 * var(--list-gap));
    }

    @media (min-width: $min-desktop) {
      min-width: 1024px;
      margin-left: calc(-1 * var(--list-gap));
      margin-top: calc(-1 * var(--list-gap));
    }
  }
}

.film {
  // padding-left: 600px;
  // margin-right: auto;
  max-width: 274px;
  transition: $transition-body-card;
  // padding:;
  margin-left: 40px;
  transform: scale(1);
  @media (min-width: $min-desktop) {
    &:hover .film-overlay,
    &:focus .film-overlay {
      opacity: 1;
      transform: translateX(0);
      z-index: 2;
    }
    &:hover {
      transform: scale(1.03);
      border-radius: $main-border-radius;
      box-shadow: 0px 5px 10px 2px rgba(54, 54, 54, 0.8);
    }
  }

  @media (max-width: $max-mobile) {
    margin: 0px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $min-tablet) and (max-width: $max-tablet) {
    max-width: 293px;
    flex-basis: calc(100% / 2 - var(--list-gap));
    margin-top: var(--list-gap);
    margin-left: var(--list-gap);
  }

  @media (min-width: $max-tablet) {
    width: 270px;
    flex-basis: calc(100% / 3 - var(--list-gap));
    margin-left: var(--list-gap);
    margin-top: var(--list-gap);
  }
  &__thumb {
    max-width: 274px;
    position: relative;
  }
  &__picture {
    //pict
  }
  &__img {
    // position: relative;
    display: block;
    max-width: 100%;
    // height: 398px;
    // width: 274px;
    // height: 398px;
    border-radius: $main-border-radius;
  }

  &__info {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.33;
    text-align: left;
    margin-top: 10px;
  }
  &__heading {
    //heading
  }
  &__description {
    color: $orange-color;
    margin-top: 7px;
  }
  &__year {
    //__year
    color: $orange-color;
  }
}
.film-overlay {
  position: absolute;
  border-radius: 5px;
  content: '';
  width: 144px;
  height: 25px;
  right: 5px;
  bottom: 10px;
  cursor: pointer;
  @media (min-width: $min-tablet) and (max-width: $max-tablet) {
    right: 10px;
    bottom: 12px;
  }
  @media (min-width: $min-desktop) {
    opacity: 0;
    transition: $transition-body-card;
    transform: translateX(10%);
    z-index: 1;
  }

  &__link {
    display: flex;
  }
  &__text {
    font-family: $main-font;
    font-size: 16px;
    color: $white-color;
    display: inline-flex;
    border-radius: 10px;
    width: 144px;
    height: 100%;

    align-items: center;
    justify-content: center;
    border-color: #c7c5c469;
    background-image: -webkit-linear-gradient(45deg, #c7c5c469 100%, transparent 100%);
    background-image: linear-gradient(45deg, #c7c5c469 100%, transparent 100%);
    background-position: 100%;

    @media (min-width: $min-desktop) {
      background-image: -webkit-linear-gradient(45deg, #c7c5c469 50%, transparent 50%);
      background-image: linear-gradient(45deg, #c7c5c469 50%, transparent 50%);
      background-size: 400%;
      background: 1000ms ease-in-out;
      transition: background 1000ms ease-in-out;
      &:hover {
        background-position: 0;
      }
    }
  }
  &__img {
    display: flex;
    margin-left: 10px;
  }
}

.filmoteka-nav {
  margin-left: auto;
  margin-right: auto;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: $main-font-size;
  line-height: 1.33;
  align-items: center;
  height: 40px;
  justify-content: center;
  color: $black-color;
  padding: 50px;
  @media (max-width: 320px) {
    min-width: 280px;
  }

  &__left,
  &__right,
  &__first,
  &__last,
  &__prev,
  &__next {
    padding: 10px 8px;
    margin: 0 2px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.33;
    display: flex;
    align-items: center;
    color: $black-color;
    height: 40px;
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
    }
  }

  &__left,
  &__right {
    color: transparent;
    padding: 12px;
    width: 40px;
    height: 40px;
    background-color: $footer-background-color;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
    }
  }

  &__left {
    //__left
    background-image: url('../images/svg/arrow-left-icon.svg');
  }
  &__right {
    //__right
    background-image: url('../images/svg/arrow-right-icon.svg');
  }

  &__pages {
    //__pages
  }
  &__pages--list {
    //__pages--list
    display: flex;
    align-items: center;
  }
  &__pages--link {
    padding: 10px 8px;
    margin: 0 2px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.33;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    color: $black-color;
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
    }

    &.current {
      color: $white-color;
      background-color: $orange-color;
      border-radius: $main-border-radius;
      width: 40px;
      height: 40px;
      padding: 0;
    }
    &.current a {
      color: $white-color;
    }
  }
}

// ScrollUP копка для возврата к верху страницы
.scroll {
  &__top {
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    position: fixed;
    bottom: 110px;
    right: -40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    @include transition(all);

    &:hover,
    &:focus {
      // цвет иконки всредине при наведении
      background-color: #ff6b081c;
    }
    // @media screen and (max-width: 480px) {
    //   right: 40px;
    // }
    @media (max-width: $max-mobile) {
      bottom: 50px;
      right: 6px;
      width: 35px;
      height: 35px;
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      bottom: 130px;
      right: 24px;
      width: 50px;
      height: 50px;
    }
    @media (min-width: $min-desktop) {
      bottom: 130px;
      right: 14px;
    }
  }
  &__icon {
    border-radius: 50%;
    cursor: pointer;
    fill: $orange-color;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
  &__active {
    display: flex;
    @include transition(all);
    opacity: 1;
    visibility: visible;
    right: calc(2.5%);
  }
}
.modal-trailer__close-btn {
  margin-top: 10px;
  background-color: $black-color;
  color: $orange-color;
  border-style: solid;
  border-radius: 10%;
  border-color: $orange-color;
  position: absolute;
  right: 6%;
  top: 2%;
}
