*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
//переменные для боди
:root {
  --list-gap: 30px;
}

/* Container */
.container {
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 320px) {
    max-width: 480px;
    min-width: 320px;
    // padding-left: 15px;
    // padding-right: 15px;
  }

  @media (min-width: $max-mobile) {
    max-width: 768px;
  }

  @media (min-width: $max-tablet) {
    max-width: 1024px;
  }
}

.filmoteka {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 71px;
  padding-right: 71px;
}

.filmoteka__set {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $min-tablet) and (max-width: $max-tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--list-gap));
    margin-left: calc(-1 * var(--list-gap));
  }

  @media (min-width: $min-desktop) {
    margin-left: calc(-1 * var(--list-gap));
    margin-top: calc(-1 * var(--list-gap));
  }
}

.film {
  // padding-left: 600px;
  // margin-right: auto;
  width: 280px;
  transition: $transition-body-card;
  padding: 6px;
  transform: scale(1);
  @media (min-width: $min-desktop) {
    &:hover .film-overlay,
    &:focus .film-overlay {
      opacity: 1;
      transform: translateX(0);
      z-index: 2;
    }
    &:hover {
      transform: scale(1.03);
      border-radius: $main-border-radius;
      box-shadow: 0px 5px 10px 2px rgba(54, 54, 54, 0.8);
    }
  }

  @media (max-width: $max-mobile) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $min-tablet) and (max-width: $max-tablet) {
    max-width: 293px;
    flex-basis: calc(100% / 2 - var(--list-gap));
    margin-top: var(--list-gap);
    margin-left: var(--list-gap);
  }

  @media (min-width: $max-tablet) {
    width: 270px;
    flex-basis: calc(100% / 3 - var(--list-gap));
    margin-left: var(--list-gap);
    margin-top: var(--list-gap);
  }
  &__thumb {
    max-width: 100%;
    position: relative;
  }
  &__picture {
    //pict
  }
  &__img {
    // position: relative;
    display: block;
    max-width: 100%;
    // height: 398px;
    border-radius: $main-border-radius;
  }

  &__info {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.33;
    text-align: left;
    margin-top: 10px;
  }
  &__heading {
    //heading
  }
  &__description {
    color: $orange-color;
    margin-top: 7px;
  }
  &__year {
    //__year
    color: $orange-color;
  }
}
.film-overlay {
  position: absolute;
  border-radius: 5px;
  content: '';
  width: 144px;
  height: 25px;
  right: 5px;
    bottom: 10px;
    cursor: pointer;
  @media (min-width: $min-tablet) and (max-width: $max-tablet) {
    right: 10px;
    bottom: 12px;
  }
  @media (min-width: $min-desktop) {
    opacity: 0;
    transition: $transition-body-card;
    transform: translateX(10%);
    z-index: 1;
  }

  &__link {
    display: flex;
  }
  &__text {
    font-family: $main-font;
    font-size: 16px;
    color: $white-color;
    display: inline-flex;
    border-radius: 10px;
    width: 144px;
    height: 100%;

    align-items: center;
    justify-content: center;
    border-color: #c7c5c469;
    background-image: -webkit-linear-gradient(45deg, #c7c5c469 100%, transparent 100%);
    background-image: linear-gradient(45deg, #c7c5c469 100%, transparent 100%);
    background-position: 100%;

    @media (min-width: $min-desktop) {
      background-image: -webkit-linear-gradient(45deg, #c7c5c469 50%, transparent 50%);
      background-image: linear-gradient(45deg, #c7c5c469 50%, transparent 50%);
      background-size: 400%;
      background: 1000ms ease-in-out;
      transition: background 1000ms ease-in-out;
      &:hover {
        background-position: 0;
      }
    }
  }
  &__img {
    display: flex;
    margin-left: 10px;
  }
}

.filmoteka-nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 374px;
  display: flex;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: $main-font-size;
  line-height: 1.33;

  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  color: $black-color;
  margin-top: 40px;
  margin-bottom: 40px;
  @media (max-width: 320px) {
    min-width: 280px;
  }
  @media (min-width: $min-tablet) {
    margin-top: 50px;
    margin-bottom: 60px;
  }

  &__left,
  &__right {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.33;

    display: flex;
    align-items: center;
    color: transparent;
    padding: 12px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__left {
    //__left
    background-image: url('../images/svg/arrow-left-icon.svg');
  }
  &__right {
    //__right
    background-image: url('../images/svg/arrow-right-icon.svg');
  }
  &__first {
    //__first
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.33;

    display: flex;
    align-items: center;

    color: $black-color;
  }
  &__last {
    //__last
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.33;

    display: flex;
    align-items: center;

    color: $black-color;
  }
  &__prev {
    //__prev
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.33;
    padding-bottom: 6px;
    display: flex;
    align-items: center;

    color: $black-color;
  }
  &__next {
    //__next
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.33;
    padding-bottom: 6px;
    display: flex;
    align-items: center;

    color: $black-color;
  }
  &__pages {
    //__pages
  }
  &__pages--list {
    //__pages--list
    display: flex;
    align-items: center;
  }
  &__pages--link {
    padding: 10px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.33;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: $black-color;

    //__pages--link
  }

  &__pages--link_current {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.33;

    display: flex;
    align-items: center;

    color: $white-color;
    background-color: $orange-color;
    border-radius: $main-border-radius;
    width: 40px;
    height: 40px;
    justify-content: center;
  }
}

// ScrollUP копка для возврата к верху страницы
.scroll__top {
  display: none; //ВАЖНО изменить параметр путем добавления класа .active-scroll!!!!!!!!!
  position: fixed;
  bottom: 1px;
  right: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  &:hover,
  &:focus {
    // цвет иконки всредине при наведении
    background-color: #ff6b081c;
  }
  @media screen and (max-width: 480px) {
    right: 40px;
  }
  @media screen and (max-width: $min-mobile) {
    bottom: 50px;
    right: 6px;
    width: 35px;
    height: 35px;
  }
  @media screen and (min-width: $max-mobile) {
    bottom: 130px;
    right: 24px;
    width: 50px;
    height: 50px;
  }

  @media screen and (min-width: $max-tablet) {
    bottom: 130px;
    right: 14px;
  }
}
.scroll__icon {
  border-radius: 50%;
  cursor: pointer;
  fill: $orange-color;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
.active-scroll {
  display: flex;
}
