*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
//переменные для боди
:root {
  --blue-text: rgba(33, 150, 243, 1);
  --blue-background: rgba(33, 150, 243, 1);
  --grey-team-background: rgba(245, 244, 250, 1);
  --black-text-logo: rgba(0, 0, 0, 1);
  --black-text: rgba(33, 33, 33, 1);
  --grey-text: rgba(117, 117, 117, 1);
  --white-text: rgba(255, 255, 255, 1);
  --white-text-op60: rgba(255, 255, 255, 0.6);
  --black-background: rgba(47, 48, 58, 1);
  --black-shadow-op15: rgba(0, 0, 0, 0.15);
  --grey-border: rgba(238, 238, 238, 1);
  --list-gap: 30px;
  --list-gap-mobile: 15px;
  --clients-svg-color: #afb1b8;
  --accent-text: #2196f3;
  --clients-svg-color: rgba(175, 177, 184, 1);
  --transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --overlflow-function: rgba(33, 150, 243, 0.9);
}
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

/* Container */
.container {
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 320px) {
    max-width: 480px;
    min-width: 320px;
    // padding-left: 15px;
    // padding-right: 15px;
  }

  @media (min-width: $tablet - 1px) {
    max-width: 768px;
  }

  @media (min-width: $desktop - 1px) {
    max-width: 1024px;
  }
}

.filmoteka {
  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 71px;
  padding-right: 71px;
}

.filmoteka__set {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) and (max-width: $desktop - 1px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--list-gap));
    margin-left: calc(-1 * var(--list-gap));
  }

  @media (min-width: $desktop) {
    margin-left: calc(-1 * var(--list-gap));
    margin-top: calc(-1 * var(--list-gap));
  }
}

.film {
  max-width: 100%;
  // transition: var(--transition-function);

  @media (max-width: $tablet - 1px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $tablet) and (max-width: $desktop - 1px) {
    max-width: 100%;
    flex-basis: calc(100% / 2 - var(--list-gap));
    margin-top: var(--list-gap);
    margin-left: var(--list-gap);
  }

  @media (min-width: $desktop - 1px) {
    max-width: 100%;
    flex-basis: calc(100% / 3 - var(--list-gap));
    margin-left: var(--list-gap);
    margin-top: var(--list-gap);
  }
  &__thumb {
    // max-width: 100%;
  }
  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  &__info {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    margin-top: 10px;
  }
  &__heading {
    // font-family: Roboto;
    // font-style: normal;
    // font-weight: 500;
    // font-size: 12px;
    // line-height: 1.33;
  }
  &__description {
    // font-family: Roboto;
    // font-style: normal;
    // font-weight: 500;
    // font-size: 12px;
    // line-height: 1.33;
    color: #ff6b08;
    margin-top: 7px;
  }
  &__year {
    //__year
    color: #ff6b08;
  }
}

.filmoteka-nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 374px;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 40px;
  @media (max-width: 320px) {
    min-width: 280px;
  }
  @media (min-width: $tablet) {
    margin-top: 50px;
    margin-bottom: 60px;
  }

  &__left {
    //__left
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    display: flex;
    align-items: center;

    color: #000000;
  }
  &__right {
    //__right
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    display: flex;
    align-items: center;

    color: #000000;
  }
  &__first {
    //__first
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    display: flex;
    align-items: center;

    color: #000000;
  }
  &__last {
    //__last
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    display: flex;
    align-items: center;

    color: #000000;
  }
  &__prev {
    //__prev
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    padding-bottom: 6px;
    display: flex;
    align-items: center;

    color: #000000;
  }
  &__next {
    //__next
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    padding-bottom: 6px;
    display: flex;
    align-items: center;

    color: #000000;
  }
  &__pages {
    // width: 100%;
    //__pages
  }
  &__pages--list {
    //__pages--list
    display: flex;
    align-items: center;
  }
  &__pages--link {
    padding: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000000;

    //__pages--link
  }
  // &__pages--current {
  //   border: 10px solid orange;
  //   color: white;
  // }
  &__pages--link_current {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    display: flex;
    align-items: center;

    color: white;
    background-color: orange;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    justify-content: center;
  }
}
