.filter__button {
  background-color: $white-color;

  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  min-width: 73px;
  padding: 5px 21px;
  border: 2px solid $orange-color;
  border-radius: 6px;

  text-decoration: none;
  vertical-align: middle;

  transition: color $transition-body-card, background-color $transition-body-card,
    box-shadow $transition-body-card;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $orange-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}

.filter_is_active {
  color: $white-color;
  background-color: $orange-color;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter__list {
  display: flex;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}
