.footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 28px;
  padding-top: 30px;
  background-color: $footer-background-color;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  color: $footer-text-color;
  body.dark & {
    background-color: transparent;
  }

  @media screen and (max-width: $max-mobile) {
    font-size: 14px;
    line-height: 16.41px;
  }
  &__box {
    @media screen and (min-width: $min-tablet) {
      display: flex;
    }
  }
  .mobile {
    @media screen and (max-width: $max-mobile) {
      margin-bottom: 10px;
    }
  }
  &__info {
    display: block;
    margin-left: 5px;
    align-self: flex-end;
  }
  #heart {
    width: 18px;
    height: 19px;
  }
  &__img {
    display: inline-block;
  }
  &__dev--link {
    margin: 0;
    color: $footer-text-color;
    text-decoration: underline;
  }
}
