.header {
  color: #fff;
  text-decoration: none;
  -webkit-appearance: none;
  height: 230px;
  overflow: hidden;
  position: relative;
  background-color: $black-color;
  //header специально внизу контейнер для изменений на всю шапку
  &__container {
    justify-content: space-between;
    vertical-align: baseline;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: $max-mobile) {
      padding: 46px 20px 43px 21px;
      min-width: $min-mobile;
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      padding: 71px 41px 76px 59px;
      min-width: $min-tablet;
    }
    @media (min-width: $min-desktop) {
      min-width: $min-desktop;
      padding: 46px 71px 65px 71px;
      margin: auto;
    }

    &.home {
      @media (max-width: $max-mobile) {
        background-image: $header-gradient, url(/images/img/mobile/1x/headerHomeBG.jpg);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (-webkit-min-device-pixel-ratio: 2),
          screen and (-o-min-device-pixel-ratio: 2/1),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: $header-gradient, url(/images/img/mobile/2x/headerHomeBG.jpg);
        }
      }
      @media (min-width: $min-tablet) and (max-width: $max-tablet) {
        background-image: $header-gradient, url(/images/img/tablet/1x/headerHomeBG.jpg);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (-webkit-min-device-pixel-ratio: 2),
          screen and (-o-min-device-pixel-ratio: 2/1),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: $header-gradient, url(/images/img/tablet/2x/headerHomeBG.jpg);
        }
      }
      @media (min-width: $min-desktop) {
        background-image: $header-gradient, url(/images/img/desktop/1x/headerHomeBG.jpg);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (-webkit-min-device-pixel-ratio: 2),
          screen and (-o-min-device-pixel-ratio: 2/1),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: $header-gradient, url(/images/img/desktop/2x/headerHomeBG.jpg);
        }
      }
    }

    &.my-library {
      @media (max-width: $max-mobile) {
        background-image: $header-gradient, url(/images/img/mobile/1x/headerLibraryBG.jpg);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (-webkit-min-device-pixel-ratio: 2),
          screen and (-o-min-device-pixel-ratio: 2/1),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: $header-gradient, url(/images/img/mobile/2x/headerLibraryBG.jpg);
        }
      }
      @media (min-width: $min-tablet) and (max-width: $max-tablet) {
        background-image: $header-gradient, url(/images/img/tablet/1x/headerLibraryBG.jpg);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (-webkit-min-device-pixel-ratio: 2),
          screen and (-o-min-device-pixel-ratio: 2/1),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: $header-gradient, url(/images/img/tablet/2x/headerLibraryBG.jpg);
        }
      }
      @media (min-width: $min-desktop) {
        background-image: $header-gradient, url(/images/img/desktop/1x/headerLibraryBG.jpg);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (-webkit-min-device-pixel-ratio: 2),
          screen and (-o-min-device-pixel-ratio: 2/1),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: $header-gradient, url(/images/img/desktop/2x/headerLibraryBG.jpg);
        }
      }
    }
  }
  &__nav-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
  }
  &__logo {
    display: flex;
    align-items: baseline;
    cursor: pointer;
  }

  &__logo-name {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 10px;
    @media (max-width: $max-mobile) {
      display: none;
    }
    &:hover {
      color: $orange-color;
    }
  }

  &__logo-icon {
    display: flex;
    // align-content: center;
    // align-self: center;
    @media (max-width: $max-mobile) {
      vertical-align: baseline;
      margin-top: 8px;
      padding: 0;
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      margin-right: 10px;
    }
  }
}
////////////////////////////////////
.header-nav {
  // display: inline-block;
  // justify-content: flex-end;
  text-decoration: none;
  // margin-left: auto;
  &__list {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }

  &__link {
    margin-left: 39px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: $white-color;
    @media (max-width: $max-mobile) {
      margin-left: 10px;
    }
  }

  &__link.current {
    border-bottom: 3px solid $orange-color;
  }
}
///////////////////////////////////////////////
.header-search {
  display: block;
  align-content: center;
  position: relative;
  text-align: center;
  // display: flex;
  justify-content: space-between;
  @media (max-width: $max-mobile) {
  }
  @media (min-width: $min-tablet) and (max-width: $max-tablet) {
    justify-content: space-between;
    // margin-left: 216px;
  }

  &__input {
    margin-bottom: 22px;
    width: 275px;
    display: inline-block;
    background-color: transparent;
    border: transparent;
    border-bottom: 0.5px solid #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.214;
    color: $white-color;
    &::placeholder {
      color: $white-color;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.143;
    }
    &:hover,
    :focus {
      outline: outset;
      outline-color: $orange-color;
    }

    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      width: 336px;
    }
    @media (min-width: $min-desktop) {
      width: 336px;
    }
  }

  &__label {
    display: inline-block;
    position: relative;
  }
  &__button {
    // padding:0%;
    // background-color: white;
    position: absolute;
    margin-left: -12px;
    width: 12px;
    height: 12px;
    display: inline-flex;
    background-color: transparent;
    background-image: url('../images/svg/search.svg');
    border: none;

    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      margin-right: 159px;
    }
  }

  &__error {
    display: block;
    // color: $red-color;
    color: $red-color;
    margin-top: 22px;
    text-align: center;
  }
}

///////////////////////////////////////
.my-library {
  &__btns {
    display: flex;
    justify-content: center;
  }

  @media (min-width: $min-tablet) and (max-width: $max-tablet) {
    align-content: center;
  }
  &__watched-btn,
  &__queue-btn {
    padding: 14px 36.38px 12px 36.38px;
    border: 1px solid $white-color;
    border-radius: 5px;
    background-color: transparent;
    color: $white-color;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    &:hover,
    &:focus,
    &.current {
      background-color: $orange-color;
    }
  }
  &__watched-btn {
    margin-right: 20px;
  }
}

///////////////////////////////////////
.control {
  &__panel {
    display: block;
    text-align: center;
    padding: 10px 40px 10px 10px;
    position: absolute;
    background-color: $orange_color;
    border-radius: 50px 0 0 50px;
    // right: -260px;
    right: -10px;
    opacity: 0.8;
    height: 100px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-size: 20px;
    width: 300px;
    @include transition(all);
    &:hover {
      right: -10px;
      opacity: 0.9;
      transition: $transition-body-card;
      & .control__svg {
        display: none;
      }
    }
  }
  &__svg {
    display: contents;
  }
  &__container {
    display: flex;
    // align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  &__info {
    display: block;
    margin-bottom: 7px;
    &-logo {
      fill: $white_color;
    }
  }
  &__languages {
    display: flex;
    &:hover &-icon {
      width: 30px;
      height: 30px;
      padding: 5px;
    }
  }
  &__languages-icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    &.current,
    &:hover {
      width: 30px;
      height: 30px;
      padding: 0;
      filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.6));
    }
  }
}
