.header {
  color: #fff;
  text-decoration: none;
  -webkit-appearance: none;
  //header специально внизу контейнер для изменений на всю шапку
  &__container {
    justify-content: space-between;
    vertical-align: baseline;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: $max-mobile) {
      padding: 46px 20px 43px 21px;
      min-width: $min-mobile;
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      min-width: $min-tablet;
    }
    @media (min-width: $min-desktop) {
      min-width: $min-desktop;
      padding: 71px 41px 71px 59px;
    }

    &.home {
      @media (max-width: $max-mobile) {
        background-image: url(/images/img/mobile/1x/headerHomeBG.jpg);
      }
      @media (min-width: $min-tablet) and (max-width: $max-tablet) {
        background-image: url(/images/img/tablet/1x/headerHomeBG.jpg);
      }
      @media (min-width: $min-desktop) {
        background-image: url(/images/img/desktop/1x/headerHomeBG.jpg);
      }
    }

    &.my-library {
      @media (max-width: $max-mobile) {
        background-image: url(/images/img/mobile/1x/headerLibraryBG.jpg);
      }
      @media (min-width: $min-tablet) and (max-width: $max-tablet) {
        background-image: url(/images/img/tablet/1x/headerLibraryBG.jpg);
      }
      @media (min-width: $min-desktop) {
        background-image: url(/images/img/desktop/1x/headerLibraryBG.jpg);
      }
    }
  }
&__nav-block {
  @media (max-width: $max-mobile) {
    
  display:flex;
  justify-content: space-between;
  margin-bottom:38px;
  }
}
  &__logo {
    @media (max-width: $max-mobile) {
    display: inline-flex;
    // width: 175px;
  }
}

  &__logo-name {
    @media (max-width: $max-mobile) {
      display: none;
    }
  }

  &__logo-icon {
    // display: flex;
    // align-content: center;
    // align-self: center;
    @media (max-width: $max-mobile) {
    vertical-align: baseline;
    padding: 0;
    }
  }
}

.header-nav {
  
  // display: inline-block;
  // justify-content: flex-end;
  text-decoration: none;
  // margin-left: auto;
  &__list {
    @media (max-width: $max-mobile) {
    display: flex;
    justify-content: space-between;
    padding: 0;
    }
  }
  &__link {
    @media (max-width: $max-mobile) {
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: $white-color;
    }
  }
  &__link.current {
    border-bottom: 3px solid $orange-color;
  }
}

.header-search {
  @media (max-width: $max-mobile) {
    display: block;
    align-content: center;
    
  }
  &__input {
    @media (max-width: $max-mobile) {
     
    position: absolute;
    margin-bottom: 22px;
    width: 280px;
    // height: 100%;
    background-color: transparent;
    border: transparent;
    border-bottom: 0.5px solid #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.214;
    }
  }

  &__container {
    @media (max-width: $max-mobile) {
    position: relative;
    display: flex;
    justify-content: space-between;
    }
  }
  &__label {
    display: inline-block;
    position: relative;
  }
  &__button {
    // padding:0%;
    // background-color: white;
    @media (max-width: $max-mobile) {
    width: 12px;
    height: 12px;
    display: inline-flex;
    background-color: transparent;
    background-image: url('../images/svg/search.svg');
    border: none;
    }
  }

  &__error {
    // color: $red-color;
    color:transparent;
    margin-top: 22px;
    text-align: center;
  }

  
}
