.basicLightbox {
  overflow-y: auto;

  justify-content: flex-start;
  align-items: flex-start;
}

.basicLightbox__placeholder {
  @media (max-width: $max-mobile) {
    margin: 20px auto;
  }
  @media (min-width: $min-tablet) {
    margin: auto;
  }
}

// @media (max-width: $max-mobile) {
// }
// @media (min-width: $min-tablet) and (max-width: $max-tablet) {
// }
// @media (min-width: $min-desktop) {
// }

.modal-film__overlay {
  margin: auto;

  position: relative;

  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
}

.modal-film {
  // этот класс ни на что не влияет, т.к. секция стоит отдельно от всего остального

  // opacity: 0;
  // position: relative;
  // display: flex;
  // justify-content: flex-start;
  // кнопки сделаны пока не полностью, но я не уверен, что они хорошо там стоят, но геометрия самих кнопок и цвет как надо вроде
  &__close {
    position: absolute;
    width: 34px;
    height: 34px;

    top: 18px;
    right: 18px;

    background-image: url('/images/svg/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    // outline: none;

    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
  }

  &__btn-watched {
    margin-right: 15px;
    overflow: visible;
  }
  // &__btn-queque {

  // }

  // @media (max-width: $max-mobile) {
  // }
  // @media (min-width: $min-tablet) and (max-width: $max-tablet) {
  // }
  // @media (min-width: $min-desktop) {
  // }

  &__btn-watched {
    // тут значение top/bottom уменьшено до 0, чтобы надписи не выходили за пределы кнопки
    @media (max-width: $max-mobile) {
      padding: 0px 8px;
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      padding: 0px 9px;
    }
    @media (min-width: $min-desktop) {
      padding: 0px 10px;
    }
  }

  &__btn-queque {
    // тут значение top/bottom уменьшено до 0, чтобы надписи не выходили за пределы кнопки
    @media (max-width: $max-mobile) {
      padding: 0px 7px;
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      padding: 0px 7px;
    }
    @media (min-width: $min-desktop) {
      padding: 0px 8px;
    }
  }

  &__btn-watched,
  &__btn-queque {
    // padding: 14px 0px 12px 0px;
    height: 44px;

    border: 1px solid $black-color;
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;

    color: $black-color;

    @media (max-width: $max-mobile) {
      width: 113px;
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      width: 125px;
    }
    @media (min-width: $min-desktop) {
      width: 136px;
    }
  }

  &__btn-watched:hover,
  &__btn-watched:focus {
    background-color: $orange-color;
    color: $white-color;
  }

  &__btn-queque:hover,
  &__btn-queque:focus {
    background-color: $orange-color;
    color: $white-color;
  }

  &__buttons {
    position: absolute;
    display: flex;
    // justify-content: center;

    bottom: 0;

    @media (max-width: $max-mobile) {
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      bottom: 40px;
      right: 29px;
    }
    @media (min-width: $min-desktop) {
      bottom: 102px;
      right: 139px;
    }
  }

  &__overlay {
    background-color: #fff;

    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // overflow-x: hidden;
    // overflow-y: auto;
    // padding: ;
  }
}

.modal-card {
  color: white; // потом убрать
  @media (max-width: $max-mobile) {
    padding: 48px 20px 106px 20px;
    // outline: 1px solid black;
    // position: relative;

    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: $min-tablet) and (max-width: $max-tablet) {
    display: flex;
    justify-content: space-between;

    padding: 42px 30px 104px 28px;
    max-width: 618px;
    // outline: 1px solid blue;
  }
  @media (min-width: $min-desktop) {
    display: flex;
    justify-content: space-between;

    padding: 48px 30px 42px 24px;
    max-width: 882px;
    // outline: 1px solid greenyellow;
  }

  &__image {
    display: block;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;

    // border: 1px;
    border-radius: 5px;

    @media (max-width: $max-mobile) {
      background-color: #eab4a9;
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      background-color: #ff6b01;
      max-width: 264px;
      max-height: 374px;
    }
    @media (min-width: $min-desktop) {
      background-color: #ff6b01;

      max-width: 396px;
      max-height: 478px;
    }
  }

  // общие стили

  &__img-thumb {
    // border: 1px;
    // border-radius: 5px;

    @media (max-width: $max-mobile) {
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
    }

    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      margin-right: 32px;
      max-width: 264px;
      max-height: 374px;
    }
    @media (min-width: $min-desktop) {
      margin-right: 36px;
      max-width: 396px;
      max-height: 478px;
    }
  }

  &__data {
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      width: 264px;
    }
    @media (min-width: $min-desktop) {
      width: 396px;
      padding-bottom: 127px;
    }
  }

  &__data-heading {
    color: $black-color;

    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.17;

    @media (max-width: $max-mobile) {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 1.17;
    }
  }

  &__list-item {
    display: flex;
    // justify-content: space-between;

    margin-bottom: 10px;

    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
    color: #8c8c8c;

    @media (max-width: $max-mobile) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 1.33;
      font-weight: 500;
      color: #8c8c8c;
    }
  }

  &__list-value {
    font-size: 12px;
    line-height: 1.17;
    font-weight: 500;

    @media (max-width: $max-mobile) {
      font-size: 12px;
      line-height: 1.17;
      font-weight: 500;
    }
  }

  &__list-votes {
    margin-right: 41px;
    @media (min-width: $min-desktop) {
      margin-right: 85px;
    }
  }
  &__list-popularity {
    margin-right: 53px;
    @media (min-width: $min-desktop) {
      margin-right: 97px;
    }
  }
  &__list-title {
    margin-right: 39px;
    @media (min-width: $min-desktop) {
      margin-right: 83px;
    }
  }
  &__list-genre {
    margin-right: 76px;
    @media (min-width: $min-desktop) {
      margin-right: 120px;
    }
  }

  &__list-rate {
    background-color: #ff6b01;
    color: #fff;
    border-radius: 5px;
    padding: 1px 10px;

    @media (max-width: $max-mobile) {
      background-color: #ff6b01;
      color: #fff;
      border-radius: 5px;
      padding: 1px 10px;
    }
  }

  &__description-heading {
    color: $black-color;

    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;

    margin-top: 20px;
    // margin-bottom: 10px;

    @media (max-width: $max-mobile) {
      font-size: 12px;
      line-height: 1.33;
      font-weight: 500;

      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  &__description {
    margin-bottom: 20px;

    color: $black-color;
    font-size: 12px;
    line-height: 1.67;
    font-weight: 500;

    @media (max-width: $max-mobile) {
      margin-bottom: 20px;

      font-size: 12px;
      line-height: 1.67;
      font-weight: 500;
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      margin-bottom: 20px;

      font-size: 12px;
      line-height: 1.67;
      font-weight: 500;
    }
  }

  // &__list {
  //   @media (max-width: $max-mobile) {
  //     padding-right: 25px;
  //   }
  //   @media (min-width: $min-tablet) and (max-width: $max-tablet) {
  //     padding-right: 50px;
  //   }
  //   @media (min-width: $min-desktop) {
  //     padding-right: 137px;
  //   }
  // }

  // &__wrapper {
  //   margin: auto;
  // }
}
