/////////////////////
.modal-devs {
  &__overlay {
    text-align: center;
    font-weight: lighter;
    min-height: 600px;
    max-width: 1000px;
    background-color: $black-color;
    color: $orange-color;
    border-style: solid;
    border-radius: 2%;
    border-color: $orange-color;
  }
  &__close-btn {
    margin-top: 10px;
    background-color: $black-color;
    color: $orange-color;
    border-style: solid;
    border-radius: 10%;
    border-color: $orange-color;
  }
  &__respect-btn {
    text-decoration: none;
    margin-top: 10px;
    background-color: $black-color;
    border-style: solid;
    border-radius: 10%;
    border-color: $orange-color;
    & a {
      color: teal;
    }
  }
}
/////////////////////
.team {
  width: 160px;
  height: 210px;
  overflow: hidden;
  margin: 8px;
  border: 2px solid $orange-color;
  border-radius: 16px;
  position: relative;
  // background-image: url(./images/img/Devs/);
  background-color: $grey-color;

  &::before {
    content: '';
    background-image: var(--img);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    filter: blur(4px) grayscale(50%);
  }

  &__heading {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    margin: 15px 0px 15px 0px;
    padding-top: 15px;
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 260px;
    border-radius: 16px;
    z-index: 3;
    object-fit: cover;
    border: none;
  }

  &:hover img {
    width: 80px;
    height: 100px;
    border: 2px solid $orange-color;
    left: 40px;
    top: 10px;
    transition: all 0.8s;
  }

  &.info {
    background-color: black;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 2;
    color: $orange-color;

    border-top: 8px solid $orange-color;
    border-radius: 80% 80% 0px 0px;
    padding-top: 0px;
    text-align: center;
    transform: scale(2);
  }
  & .name {
    font-size: 20px;
    padding-top: 30px;
    text-transform: capitalize;
  }

  & .title {
    font-size: 10px;
    color: $grey-color;
    text-transform: capitalize;
  }

  &:hover .info {
    transform: scale(1);
  }

  & .social {
    /* padding-block: 16px; */
    font-size: 24px;
  }
}
/////////////////////
.networks {
  &__img {
    fill: grey;
  }

  &__img:hover {
    background-color: $orange-color;
    border-radius: 50%;
  }
}
/////////////////////
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 1000px;
  margin: auto;
}
