.basicLightbox {
  overflow-y: auto;

  justify-content: flex-start;
  align-items: flex-start;
}

.basicLightbox__placeholder {
  @media (max-width: $max-mobile) {
    margin: 20px auto;
  }
  @media (min-width: $min-tablet) {
    margin: auto;
  }
}

.modal-film__overlay {
  margin: auto;

  position: relative;
}

.modal-film {
  &__close {
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;

    top: 18px;
    right: 18px;

    background-image: url('/images/svg/close.svg');
    background-position: center;
    background-repeat: no-repeat;

    padding: 8px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
  }

  &__btn-watched {
    margin-right: 15px;
    overflow: visible;
  }

  &__btn-watched {
    // тут значение top/bottom уменьшено до 0, чтобы надписи не выходили за пределы кнопки
    @media (max-width: $max-mobile) {
      padding: 0px 8px;
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      padding: 0px 9px;
    }
    @media (min-width: $min-desktop) {
      padding: 0px 10px;
    }
  }

  &__btn-queque {
    // тут значение top/bottom уменьшено до 0, чтобы надписи не выходили за пределы кнопки
    @media (max-width: $max-mobile) {
      padding: 0px 7px;
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      padding: 0px 7px;
    }
    @media (min-width: $min-desktop) {
      padding: 0px 8px;
    }
  }

  &__btn-watched,
  &__btn-queque {
    height: 44px;

    border: 1px solid $black-color;
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;

    color: $black-color;

    // слова на кнопке не помещаются в пределы блока,
    //убираю отдельные медиаправила для ширины кнопки на моб и таблетки, и меняю на @media (max-width: $max-tablet)
    @media (max-width: $max-tablet) {
      width: 125px;
    }

    @media (min-width: $min-desktop) {
      width: 136px;
    }
  }

  &__buttons {
    position: absolute;
    display: flex;
    // justify-content: center;

    bottom: 0;

    @media (max-width: $max-mobile) {
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      bottom: 40px;
      right: 29px;
    }
    @media (min-width: $min-desktop) {
      bottom: 102px;
      right: 139px;
    }
  }

  &__overlay {
    background-color: #fff;
  }
}

.modal-card {
  body.dark & {
    //   color: red;
    //   background-color: $footer-background-color;
    box-shadow: 0px 0px 20px 10px rgba(116, 17, 17, 0.8);
  }
  @media (max-width: $max-mobile) {
    padding: 48px 20px 106px 20px;

    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: $min-tablet) and (max-width: $max-tablet) {
    display: flex;
    justify-content: space-between;

    padding: 42px 30px 104px 28px;
    max-width: 618px;
    // outline: 1px solid blue;
  }
  @media (min-width: $min-desktop) {
    display: flex;
    justify-content: space-between;

    padding: 48px 30px 42px 24px;
    max-width: 882px;
  }
  &__prev {
    @media (max-width: $max-mobile) {
      position: sticky;
      width: 0px;
      height: 0px;
      z-index: 10;
      left: 0px;
      bottom: 0px;
      opacity: 0.75;
    }

    @media (min-width: $min-tablet) {
      position: absolute;
      z-index: 10;
      left: -34%;
      top: calc(50% - 170px);
      filter: blur(2px);
      transform: scale(0.9);
      &:hover {
        filter: blur(0px);
        transform: translateX(20px);
      }
    }
  }
  &__next {
    @media (max-width: $max-mobile) {
      position: sticky;
      width: 0px;
      height: 0px;
      z-index: 10;
      left: -1px;
      top: 0px;
      opacity: 0.75;
    }

    @media (min-width: $min-tablet) {
      position: absolute;
      z-index: 10;
      right: -34%;
      top: calc(50% - 170px);
      transform: scale(0.9);
      filter: blur(2px);

      &:hover {
        filter: blur(0px);
        transform: translateX(-20px);
      }
    }
  }

  &__image {
    display: block;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;

    border-radius: 5px;

    @media (max-width: $max-mobile) {
      background-color: #eab4a9;
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      background-color: #ff6b01;
      max-width: 264px;
      max-height: 374px;
    }
    @media (min-width: $min-desktop) {
      background-color: #ff6b01;

      max-width: 396px;
      max-height: 478px;
    }
    &--prev {
      @media (max-width: $max-mobile) {
        position: fixed;
        right: 288px;
        top: 125px;

        max-width: calc(264px / 2);
        max-height: calc(374px / 2);
      }

      @media (min-width: $min-tablet) and (max-width: $max-tablet) {
        max-width: calc(264px / 1.3);
        max-height: calc(374px / 1.3);
      }
      @media (min-width: $min-desktop) {
        max-width: calc(396px / 1.3);
        max-height: calc(478px / 1.3);
      }
    }
    &--next {
      @media (max-width: $max-mobile) {
        position: fixed;
        right: -132px;
        top: 125px;

        max-width: calc(264px / 2);
        max-height: calc(374px / 2);
      }

      @media (min-width: $min-tablet) and (max-width: $max-tablet) {
        background-color: #ff6b01;
        max-width: calc(264px / 1.3);
        max-height: calc(374px / 1.3);
      }
      @media (min-width: $min-desktop) {
        max-width: calc(396px / 1.3);
        max-height: calc(478px / 1.3);
      }
    }
  }

  // общие стили

  &__img-thumb {
    @media (max-width: $max-mobile) {
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
    }

    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      margin-right: 32px;
      max-width: 264px;
      max-height: 374px;
    }
    @media (min-width: $min-desktop) {
      margin-right: 36px;
      max-width: 396px;
      max-height: 478px;
    }
  }

  &__data {
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      width: 264px;
    }
    @media (min-width: $min-desktop) {
      width: 396px;
      padding-bottom: 127px;
    }
  }

  &__data-heading {
    color: $black-color;

    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.17;

    @media (max-width: $max-mobile) {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 1.17;
    }
  }

  &__list-item {
    display: flex;
    // justify-content: space-between;

    margin-bottom: 10px;

    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
    color: #8c8c8c;

    @media (max-width: $max-mobile) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 1.33;
      font-weight: 500;
      color: #8c8c8c;
    }
  }

  &__list-value {
    font-size: 12px;
    line-height: 1.17;
    font-weight: 500;

    @media (max-width: $max-mobile) {
      max-width: 87px;
      font-size: 12px;
      line-height: 1.17;
      font-weight: 500;
    }
  }

  &__list-votes {
    margin-right: 41px;
    @media (min-width: $min-desktop) {
      margin-right: 85px;
    }
  }
  &__list-popularity {
    margin-right: 53px;
    @media (min-width: $min-desktop) {
      margin-right: 97px;
    }
  }
  &__list-title {
    margin-right: 39px;
    @media (min-width: $min-desktop) {
      margin-right: 83px;
    }
  }
  &__list-genre {
    margin-right: 76px;
    @media (min-width: $min-desktop) {
      margin-right: 120px;
    }
  }

  &__list-rate {
    background-color: #ff6b01;
    color: #fff;
    border-radius: 5px;
    padding: 1px 10px;

    @media (max-width: $max-mobile) {
      background-color: #ff6b01;
      color: #fff;
      border-radius: 5px;
      padding: 1px 10px;
    }
  }

  &__description-heading {
    color: $black-color;

    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;

    margin-top: 20px;
    // margin-bottom: 10px;

    @media (max-width: $max-mobile) {
      font-size: 12px;
      line-height: 1.33;
      font-weight: 500;

      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  &__description {
    margin-bottom: 20px;

    color: $black-color;
    font-size: 12px;
    line-height: 1.67;
    font-weight: 500;

    @media (max-width: $max-mobile) {
      margin-bottom: 20px;

      font-size: 12px;
      line-height: 1.67;
      font-weight: 500;
    }
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      margin-bottom: 20px;

      font-size: 12px;
      line-height: 1.67;
      font-weight: 500;
    }
  }

  // &__list {
  //   @media (max-width: $max-mobile) {
  //     padding-right: 25px;
  //   }
  //   @media (min-width: $min-tablet) and (max-width: $max-tablet) {
  //     padding-right: 50px;
  //   }
  //   @media (min-width: $min-desktop) {
  //     padding-right: 137px;
  //   }
  // }

  // &__wrapper {
  //   margin: auto;
  // }
}
